{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Контакты
{% endblock%}

{% block content_block %}
        <div class="row">
            <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 col-xs-6 col-xs-offset-3">
                <p>
                    Something has gone wrong!
                    The page you are looking for does not exists.
                </p>
            </div>
        </div>
{% endblock %}