{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Категория
{% endblock%}

{% block content_block %}
    <div class="container inner-wrap">

        <h2 class="category_name">{{ object.name|title }}</h2>
        <div class="product_wrap row">
            <div class="main-img col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img class="product__image main-beer-img" src="../media/{{ object.url }}"></img>
            </div>
            <div class="main-text col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <p>
                    {{ object.snippet }}
                </p>
                <div class="flex-price">
                    <div class="products_unit_price_wrap item-price">
                        {{ object.price }}
                    </div>
                    <button class="add_trash">
                        <i class="fas fa-shopping-cart"></i>
                        В корзину
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_js %}
{% endblock %}