{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Вход в систему
{% endblock%}

{% block content_block %}
<div class="row">
    <div class="col-lg-3 col-lg-offset-4 col-md-3 col-md-offset-4 col-sm-3 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <form action="/auth/login" method="POST">
    {% csrf_token %}
        <div class="form-group text-right">
            <label for="username">Логин</label>
            <input name="username" type="text">
        </div>
        <div class="form-group text-right">
            <label for="password">Пароль</label>
            <input name="password" type="password">
        </div>
        <input value="Войти" type="submit" style="position: relative;left: 50%;">
    </form>
    </div>
</div>
{% endblock %}