{% extends 'adpanel/master.html' %}

{% block page_title %}
Create Category
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
<form class="model-form" method="POST" action="">
    {% csrf_token %}
    
    {% for field in form %}
    <div class="form-field">
        <label for="{{ field.name }}">
            {{ field.label }}
        </label>
        {{ field }}
    </div>
    
    {% endfor %}
    
    </div>
    <input value="Submit" type="submit">
</form>

{% endblock %}

{% block page_js %}
{% endblock %}