{% extends 'adpanel/master.html' %}

{% block page_title %}
List Item
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
<img class="product__image" src="../../media/{{ object.url }}"></img>

<h2 class="product__title">
    {{ object.name }}
</h2>

<span class="product__price">
    {{ object.price }}
</span>

{% endblock %}

{% block page_js %}
{% endblock %}