{% extends 'adpanel/master.html' %}

{% block page_title %}
List Item
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}

<h2 class="category__title">
    {{ instance.title }}
</h2>

<span class="category__snippet">
    {{ instance.snippet }}
</span>

{% endblock %}

{% block page_js %}
{% endblock %}