{% extends 'adpanel/master.html' %}

{% block page_title %}
List Item
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
<div class="category__list">
    {% for item in query %}

    <div class="category">

        <div class="form-group">
            <label for="{{ item.title }}" class="form__label">
                {{ item.title }}
            </label>
            <label for="{{ item.snippet }}" class="form__label">
                {% if item.snippet != not_null %}
                    {{ item.snippet }}
                {% endif %}
            </label>
        </div>

    </div>
    
    {% endfor %}

</div>

{% endblock %}

{% block page_js %}
{% endblock %}