{% extends 'adpanel/master.html' %}

{% block page_title %}
List Item
{% endblock %}

{% block page_styles %}
{% endblock %}

{% block page_content %}
<div class="product__list">
    {% for item in results %}

    <div class="product">
        <div class="product__content">
            <img class="product__image" src="../../media/{{ item.url }}"></img>

            <h2 class="product__title">
                {{ item.name }}
            </h2>

            <span class="product__price">
                {{ item.price }}
            </span>

            <a class="product__link" href="{% url 'detail' pk=item.id %}"></a>

        </div>
    </div>
    
    {% endfor %}

</div>

{% endblock %}

{% block page_js %}
{% endblock %}