<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    {% block page_styles %}
    {% endblock %}
</head>
<body>
    <section class="content">
       {% block page_content %}
        {% endblock %}
    </section>
    {% block page_js %}
    {% endblock %}
</body>
</html>