<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% for err in form.not_field_errors %}

        <span class="form__error">
            {{ err }}
        </span>

    {% endfor %}
    
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.name }}" class="form__label">
            {{ field.label }}
        </label>

        {{ field }}

        {% for err in field.errors %}
        <small class="form__field_error">
            {{ err }}
        </small>
        {% endfor %}
    </div>
    {% endfor %}

    <input type="submit" class="form_submit" value="Отправить">
    
</form>