.wrapper{
    box-sizing: border-box;
}

.container{
    padding: 0px;
}

.header{
    height: 250px;
    background: #d4e4ef; /* Old browsers */
    background: -moz-linear-gradient(top, #d4e4ef 0%, #86aecc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d4e4ef 0%,#86aecc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d4e4ef 0%,#86aecc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc',GradientType=0 ); /* IE6-9 */
    width: 100%;
  }
  
.navbar{
  min-height: 34px;
  border: 1px solid transparent;
  color: #777;
}
.navbar-default{
  margin: 0px;
}

.nav>li, .nav>li>a, .navbar {
  position: relative;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

.lk-link a {
  font-weight: 500;
  padding-right: 0;
}

.xs_navbar{
   margin: 0px -15px;
   background-color: white;
   z-index: 1;
}

.navbar-static-top li{
  color: black;
}

.nav.navbar-nav li > #location-select, #lk-link {
  padding: 7px 0 7px 10px;
  display: inline-block;
  vertical-align: middle;
}
.name_on_xs{
  margin-left: 10px;
  font-size: 24px;
  font-style: italic;
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-right {
    float: right!important;
    margin-right: -5px;
 }

.container {
    margin: 0 auto;
    }
}

@media (max-width: 767px){
.wrapper{
    margin-right: -15px;
    }
}

.about_company{
  padding-top: 6px;
  font: black;
}

.navbar-static-top .navbar-right li:first-child a {
    display: inline-block;
    color: #777;
}

.navbar-static-top .navbar-right li:first-child a:hover{
  color: black;
  text-decoration: none;
}

.logo{
    float: left;
    margin: 5px 14px 0;
    background-color: transparent;
}

.logo img[alt="Логотип"]{
    max-width: 220px;
    margin: 40px;

}

.header_wrap{
  margin-right: 15px;
}

.header_SM{
  position: absolute;
  right: 66px;
  top: 52px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
  
.header_SM i{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.header_SM i:hover{
  color: blue;
}

.nav_menu{
  background-color: lavender;

}

.nav_left{
  background-color: #26d2fc;
  float: left;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: -15px 0 0 0;
  position: relative;
}

.main_menu {
    list-style: none;

    float: right;
    margin: 0 15px 0 0;
}

.main_menu li{
    display: inline-block;
    padding: 0 5px;
}

.main_menu li a {
    color: #1f7d63;
    font-size: 24px;
    font-style: italic;
    text-decoration: none;
    float: left;
}

.main_menu li a:hover {
    color: grey;
}

nav .container ul#nav_left ul#nav_right{
    width: 82%;
    font-size: 0;

    position: relative;
    margin-top: -1px;
}
nav .container ul#nav_left {
    float: left;
}

#nav_right {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    text-align: right;
    border-radius: 0;
    transition: all 500ms ease-out;
    width: 94px;
    height: 48px;
    border: 0;
    z-index: 5;
}

.dropdown{
    width: 85%;
}
.dropdown_catalog{
    margin-left: 10px;
}

.dropdown_catalog li{
    display: inline-block;
}

.content_header{
  line-height: 78px;
  padding: 0 25px;
  box-sizing: border-box;
  background: #f8f8f8;
  font-family: "Roboto Black Italic", sans-serif;
  font-size: 21px;
  font-weight: 900;
  font-style: italic;
  color: #707070;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 1px) and (max-width: 767px){
  .content_new_header{
    margin-top: 15px;
  }
}


.product_mark_new,
.product_mark_hot{
  position: absolute;
  font-size: 9px;
  font-family: "Roboto Regular", sans-serif;
  top: 0;
  right: 0;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 9px 0 0 18px;
  height: 46px;
  width: 46px;
  z-index: 1;
}

.product_mark_new{
  background: url(../images/new-corner.png) no-repeat;
}

.product_mark_hot{
  background: url(../images/hot-corner.png) no-repeat;
}

@media screen and (min-width:530px) and (max-width: 991px){
  .product_unit_col{
  width: 50%;
  float: left;
  }
}

.products_unit{
  margin-bottom: 22px;
  margin-left: 4px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.product_unit_col:hover{
  outline: 1px solid grey;
  outline-style: inset;
  margin-right: -6px;
  z-index: 2;
}

.product_unit_col a{
  text-decoration: none;
  color: black;
}

.products_unit_img{
  margin-bottom: 19px;
  padding: 0 115px;
}

.products_name_and_price_wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 47px;
}

.products_unit_shortDesc{
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  max-height: 2.8em;
  box-sizing: border-box;
  padding: 0px 5px 0px 5px;
  overflow: hidden;
}

.products_unit_price_wrap{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  color: #333;
  text-align: right;
  padding: 0px 12px 0px 0px;
}

.products_unit_price{
  font-size: 19px;
}

.products_unit_price_old{
  text-decoration:line-through;
  color: #e24602;
}

.before-footer{
    width: 100%;
}

.footer{
    font: 300 14px/22px "Ubuntu";
    color: #777;
}

.inner-wrap {
    padding: 25px 20px 0;
    position: relative;
}

.breadcrumbs {
    position: relative;
    color: #b3b3b3;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 13px;
    margin-bottom: 25px;
}

.breadcrumbs-sep {
    background-image: url(../images/sprite.png);
    background-position: 0 -72px;
    width: 6px;
    height: 10px;
    margin: 0 3px;
}

a.breadcrumbs-link, a.breadcrumbs-sep {
    color: darkslategrey;
}

a.breadcrumbs-link:hover, a.breadcrumbs-sep:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.breadcrumbs-link, .breadcrumbs-sep {
    display: inline-block;
    vertical-align: middle;
}

.catalog-header {
    position: relative;
    margin: .67em 0 25px;
}

.catalog-header h2 {
    float: left;
    margin: 0;
}

.sort {
    float: right;
}

.dropdown{
    width: 18%;
}

.dropdown:active{
.dropdown-menu{
    display: block;
    }
}

.flex-container{
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex-item{
    width: 28%;
    text-decoration: none;
}

.flex-item a:hover{
    text-decoration: none;
}

.flex-item:hover{
    border: 2px solid grey;
    border-radius: 7px;
}

.flex-item img{
    position: relative;
    left: 35%;
}

.flex-item h2{
    position: relative;
    left: 35%;
}

.flex-item span{
    position: relative;
    left: 35%;
}

.add_trash{
    border-radius: 10px;
    background: silver;
    font-family: "Roboto Black Italic", sans-serif;
    font-size: 18px;
    color: black;
    margin: 0 90px;
    padding: 8px;
}

.add_trash:hover{
    background: grey;
    color: azure;
}

.main-text{
    float: right;
    text-align: justify;
    width: 63.5%;
    margin: 2px;
    font-size: 18px;
    font-family: san-serif;
}

.main-img{
    padding: 0 13%;
    float: left;
    margin: 5px;
}

.flex-price{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-price{
    float: left;
    font-size: 19px;
}

.category_name{
    margin: 10px;
    font-family: "Roboto Black Italic", sans-serif;
    color: dimgrey;
}

.form-group{
    margin-top: 15px;
}

.flex-item a{
    color: black;
}

.login-button{
    position: relative;
    left: 60%;
}

.user-name-span{
    color: grey;
    font-size: 15px;
}