{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Категория
{% endblock%}

{% block content_block %}
    <div class="container inner-wrap">
        <div class="catalog-header">
            <h2 class="category_name">{{ results.0.category|title }}</h2>
            <select class="sort">
                <option value="volvo">Сортировать по:Новизне</option>
                <option value="saab">Сортировать по:Цене(Убывание)</option>
                <option value="mercedes">Сортировать по:Цене(Возрастание)</option>
            </select>
        </div>
        <div class="flex-container">
            {% for item in results %}
                <div class="flex-item">
                    <a href="{% url 'products:product' pk=item.id %}">
                        <img class="product__image" src="../media/{{ item.url }}"></img>
                        <h2 class="product__title">
                            {{ item.name|title }}
                        </h2>
                        <span class="product__price">
                            {{ item.price }} Руб.
                        </span>
                        <button class="add_trash">
                            <i class="fas fa-shopping-cart"></i>
                            В корзину
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination container">
            <span class="step-links">
                {% if results.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ results.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ results.number }} of {{ results.paginator.num_pages }}.
                </span>
                {% if results.has_next %}
                    <a href="?page={{ results.next_page_number }}">next</a>
                    <a href="?page={{ results.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}