{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Контакты
{% endblock%}

{% block content_block %}
        <h2> Контакты </h2>
        <fieldset>
            <legend>Напишите нам</legend>
            <form action="contacts.html" method="post" class="contact-form">
                <input name="login" type="text" placeholder="Введите ваше имя">
                <br>
                <input name="email" type="email" placeholder="Введите ваш email">
                <br>
                <input name="theme" type="text" placeholder="Тема сообщения">
                <br>
                <label for="full_text"> Текст сообщения </label>
                <br>
                <textarea id="full_text" cols="40" rows="3"> </textarea>
                <br>
                <input type="submit" value="Отправить">
                <input type="reset" value="Очистить">
            </form>
        </fieldset>
        <h2> Адрес </h2> <br>
        Телефон: +7-915-999-99-00 <br>
        Адрес: ул. Сокольнический вал д. 52/6 <br>
        email: beer4deer@gmail.com
        <script type="text/javascript" charset="utf-8"
                async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A51923855fee39fc8d80c08bda8de8d85cfcef1f5136141f0aba27fdefa4bd4f0&amp;width=100%&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>

{% endblock %}