{% extends 'magazine/master.html' %}
{% load staticfiles %}

{% block page_title %}
Главная страница
{% endblock%}

{% block content_block %}
<div class="content_header content_new_header">
    Новинки
</div>
<div class="flex-container">
    {% for item in result_1 %}
    <div class="flex-item">
        <a href="{% url 'products:product' pk=item.id %}">
            <img class="product__image" src="../media/{{ item.url }}"></img>
            <h2 class="product__title">
                {{ item.name|title }}
            </h2>
            <span class="product__price">
                                {{ item.price }} Руб.
                            </span>
            <button class="add_trash">
                <i class="fas fa-shopping-cart"></i>
                В корзину
            </button>
        </a>
    </div>
    {% endfor %}
</div>
<div class="content_header">
    Популярные
</div>
<div class="flex-container">
    {% for item in result_2 %}
    <div class="flex-item">
        <a href="{% url 'products:product' pk=item.id %}">
            <img class="product__image" src="../media/{{ item.url }}"></img>
            <h2 class="product__title">
                {{ item.name|title }}
            </h2>
            <span class="product__price">
                                {{ item.price }} Руб.
                            </span>
            <button class="add_trash">
                <i class="fas fa-shopping-cart"></i>
                В корзину
            </button>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}